
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <h2>MONASTERY SIMULATOR</h2>
    <p>
        A new spin on an old favorite, or an old spin on a new favorite. The breakneck pace of real-time strategy meets the dignity of a thousand-year old monastic tradition. Historical inspiration comes from the living tradition on Mount Athos (pictured in the background), and such famous works on monastic living as <em>The Philokalia</em>, <em>The Rule of St. Benedict</em>, and St. John Climacus' <em>The Ladder of Divine Ascent</em> which document the ascetic discipline of monks often referred to as "unseen warfare" in a spiritual arena.
    </p>
    <p>
        In Monastery Simulator, you will assume the role of a not-so-humble abbot who is looking to turn his small community into the next Vatopedi. You will recruit more monks and assign them to various tasks such as restoration, carpentry, cooking, prayer (most important), performing liturgies and vigils, agriculture, iconography, and more, with the goal of expanding both your secular reputation (gold!) and your other-worldly reward (faith!). 
    </p>
</div>

