
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <h2>ABOUT OUR STUDIO</h2>
    <ul>
        <li>FOUNDED IN 1955 BY A NOTORIOUS CONMAN</li>
        <li>GAME DEVELOPMENT ACROSS ALL PLATFORMS</li>
        <li>NOT ACTUALLY GREEK OR ROMAN</li>
        <li>ALL DEVELOPMENT DONE ON A SINGLE APPLE IIe</li>
        <li>DEVELOPERS LIVE IN LONDON</li>
        <li>DRIVEN BY INSANE OBSESSION WITH HISTORICAL ACCURACY</li>
        <li>CURRENT PROJECTS ACROSS NUMEROUS TIME PERIODS</li>
    </ul>
</div>




